---
import { t } from '../../i18n/utils.ts';
import Accordion from '../../components/Accordion.astro';

const url = Astro.url.pathname;
const locale = url.includes('/pt/') ? 'pt' : 'es';

const ubicaciones = [
  {
    id: 'defensor-pueblo',
    titulo: 'Defensoría del Pueblo',
    contenido: `
      <p class="text-white text-lg font-bold font-['Geologica'] leading-6 mb-2">Defensorías del Pueblo Regionales</p>
      <p class="text-white text-lg font-normal font-['Geologica'] leading-6">
        El Defensor del Pueblo tiene oficinas en todo el país.<br/>
        Teléfono gratuito: 0800 8800<br/>
        Correo: <a href="mailto:defensor@defensor.gub.uy" class="text-white underline">defensor@defensor.gub.uy</a>
      </p>
    `
  }
];
---

<div class="p-6 bg-white">
  <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-2 p-12">
    <h2 class="text-5xl md:text-7xl text-right font-extrabold text-cafemedio">{t('pais.uruguay.titulo', locale)}</h2>
    <div class="md:ml-12 md:mr-22 text-cafeoscuro text-[16px]">
      <p class="mb-2 font-bold">{t('pais.uruguay.descripcion', locale)}</p>
      <p class="mb-2">{t('pais.uruguay.direccion', locale)}</p>
      <p class="mb-2">{t('pais.uruguay.telefono', locale)}</p>
      <p>{t('pais.uruguay.correo', locale)}</p>
    </div>
  </div>
  <p class="text-center mt-10 uppercase text-cafeoscuro font-bold">{t('pais.uruguay.accionEstatal', locale)}</p>
  
  <div class="container max-w-4xl mx-auto px-4 mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
      {ubicaciones.map((ubicacion) => (
        <Accordion 
          id={ubicacion.id}
          title={ubicacion.titulo}
          content={ubicacion.contenido}
        />
      ))}
    </div>
  </div>
</div>